@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

:root {
  --purple: #633cff;
  --purple-hover-color: #beadff;
  --light-purple: #efebff;
  --dark-grey: #333;
  --grey: #737373;
  --borders: #d9d9d9;
  --light-grey: #fafafa;
  --white: #fff;
  --red: #ff3939;
  --font-family: "Instrument Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
}

body {
  font-family: var(--font-family);
  background: var(--light-grey);
  max-height: 100vh;
}

.container {
  max-width: 1394px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}