@import '../../styles/mixins.scss';
.header {
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--white);
    padding: 16px;
    border-radius: 12px;
  }
  .header__links {
    display: flex;
    align-items: center;
    gap: 16px;
    & > a {
      display: flex;
      align-items: center;
      gap: 8px;
      font-weight: 600;
      padding: 14px 28px;
      @include text-styles;
      @include adaptiv-font(16,14);
      svg > path {
        fill: #777777;
      }
      &[aria-current="page"]{
        color: var(--purple);
        background: var(--light-purple);
        border-radius: 8px;
        svg > path {
          fill: var(--purple);
        }
      }
    }
  }
  .header__preview {
    font-weight: 600;
    border: 1px solid var(--purple);
    border-radius: 8px;
    padding: 11px 27px;
    color: var(--purple);
    @include adaptiv-font(16,14);
  }
}
